/* Stile per il RadioButton selezionato */
.radio-button:selected {
    -fx-background-image: url('/viewone/images/LogoFullButton96.png'); /* Percorso dell'immagine selezionata */
}

/* Stile per il RadioButton non selezionato */
.radio-button {
    -fx-background-image: url('/viewone/images/LogoEmptyButton96.png'); /* Percorso dell'immagine non selezionata */
}

/* Stile del testo del RadioButton */
.radio-button .text {
    -fx-fill: #00e4af;
}