.list-cell{
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-text-fill: linear-gradient(to bottom, #00e4af, #5d7cf3);
    -fx-font-family: "Allerta Stencil";
}

.list-cell:selected{
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-text-fill: linear-gradient(to bottom, #00e4af, #5d7cf3);
    -fx-font-family: "Allerta Stencil";
}

